.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 3rem;
    background: #FFFFFF;
    border-bottom: 1px solid #E5E7EB;
}

.nav-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo img {
    width: 160px;
    height: auto;
    display: block;
    transform: translateY(-5px);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-left: 40px;
}

.nav-center {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.nav-center a,
.nav-right a {
    text-decoration: none;
    color: #0F2D5C;
    font-size: 1rem;
    font-weight: 500;
    transition: all .25s ease;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #16B8A6;
    transform: translateY(-2px);
}

.logout-btn {
    background: none;
    border: none;
    color: #0F2D5C;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .25s ease;
}

.logout-btn:hover {
    color: #16B8A6;
    transform: translateY(-2px);
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #0F2D5C;
    margin-left: auto;
}

@media (max-width:768px) {

    .navbar {
        padding: 1rem 1.2rem;
        flex-wrap: wrap;
    }

    .nav-left {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .logo img {
        width: 130px;
    }

    .menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
        width: 100%;
        flex-direction: column;
        margin-left: 0;
        margin-top: 20px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-center,
    .nav-right {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .nav-center a,
    .nav-right a,
    .logout-btn {
        width: 100%;
        padding: 10px 0;
    }
}